[user]
	email = yo@lanre.wtf
	name = Lanre Adelowo
	signingkey = 17587ED6D8AD34DC6AEDB1265F48B4357241D209

; Prevent a push to main by all means.
; I already manually never do this but I recently ran into 
; an issue where i ran into an issue where i ran "git rebase origin main" instead of "origin/main"
; i got checkout'd to main and thought i was still on the same branch, I ran `git push -u origin -f`
; Remote git server rejected it obviously but
; Tiny issues like this can happen often, better to block them in their entirety
; TLDR: this fixes only "git push". If you do "git push -u origin", it doesn't seem to work sadly and you will
; have to use a pre hook to solve this usecase then
[branch "main"]
  remote = origin
  pushRemote = random-branch-that-does-not-exists
  merge = refs/heads/main

[branch "master"]
  remote = origin
  pushRemote = random-branch-that-does-not-exists
  merge = refs/heads/master

[push]
	default = current

[core]
	editor = nvim
	excludesfile = ~/.gitignore_global
	; pager = diff-so-fancy | less --tabs=4 -RFX
	quotepath = false
	commitGraph = true
	autocrlf = input
	safecrlf = false
  pager = delta

[alias]
	prune = "fetch --prune"
  authors = "!git shortlog -s | cut -c8-"
	; bclean clears up all local branches leaving only the current active branch.
	; Say you have 5 branches (including master), then you checkout the fiend branch.
	; Running git bclean would delete the other 4 branches, leaving only the fiend branch.
	; Run this with caution.
  bclean = "!git branch | grep -v "main" | xargs git branch -D"
	fiend = "!git branch fiend && git checkout fiend"
	lg = log --color --graph --abbrev-commit\n           --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset'

[color]
	ui = true

[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22

[color "diff"]
	meta = 227
	frag = magenta bold
	commit = 227 bold
	old = red bold
	new = green bold
	whitespace = red reverse

[commit]
	gpgsign = true

[tag]
	forceSignAnnotated = true

[url "git@github.com:"]
	insteadOf = https://github.com/
	insteadOf = https://github.com/

[gc]
	writeCommitGraph = true

[http]
	cookiefile = /Users/lanreadelowo/.gitcookies

[receive]
	advertisePushOptions = true

[gpg]
	program = gpg

[init]
	defaultBranch = main

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true    

[merge]
    conflictstyle = zdiff3

[diff]
    colorMoved = default
[rerere]
	enabled = true
[safe]
	directory = /workdir
	directory = /workdir
	directory = /workdir
	directory = /workdir
	directory = /workdir
